@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .section-title {
    @apply font-bold text-5xl sm:text-7xl text-center tracking-tighter;
  }
  .section-description {
    @apply text-xl tracking-tight mt-5 text-white/70 text-center;
  }
  .logo-ticker-img {
    @apply h-8 flex-none w-auto;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
